@media (min-width: 50rem) {
  html[data-has-sidebar][data-sidebar-collapsed] {
    --sl-content-inline-start: 0rem;
    --sl-content-width: 60rem;
  }

  html[data-sidebar-collapsed] .sidebar-pane {
    display: none;
  }
}
